 
  .paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px white;
    color: white;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color:black;
  }
  
  .paginationActive a {
    color: white;
    background-color: #a5a5be;
  }
  
  .paginationDisabled a {
    color:white;
    background-color:black;
  }

  .bg{
      background-color:rgb(154, 100, 253);
  }